select {
  margin: $margin-md;
  min-width: 150px;
  padding: $padding-sm;
  font-size: $font-size-sm;
  color: $font-color;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../images/down_arrow.svg') 96% / 15% no-repeat $white;
  background-size: 24px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
