.panel {
  background-color: $white;
  border-radius: $border-radius;
  padding: $padding-lg;
  border: $border-width solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
  text-align: center;
}
