.unordered-list, .ordered-list {
  color: $font-color;
  padding-inline-start: $margin-lg;
  margin: $margin-sm $margin-lg;
  li {
    border-bottom: $border-width solid $border-color;
    padding: $padding-md;
  }
}

.unordered-list {
  list-style: none;
}

.ordered-list {
  list-style: none;
  counter-reset: item;
  li {
    counter-increment: item;
    &:before {
      margin-right: 10px;
      content: counter(item);
      background: $border-color;
      border-radius: 100%;
      color: $white;
      width: 0.6em;
      height: 0.6em;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: $padding-sm;
    }
  }
}
