.chat-panel-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.chat-container {
  display: flex;
  flex-flow: column wrap;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  width: 300px;
}

.chat-output {
  width: 100%;
  border-bottom: $border-width solid $border-color;
  height: 300px;
  overflow-y: auto;
  padding: $padding-md 0;
}

.chat-input {
  width: 100%;
  margin: 0;
  border: none;
  padding: $padding-md 0 $padding-md $padding-sm;
  background: transparent;
}

.chat-message {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.chat-message-content {
  background-color: $lightblue;
  color: $white;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  margin: $margin-md;
  padding: $padding-md;
}

.chat-time {
  color: $font-color-muted;
  font-size: $font-size-xs;
  width: 100%;
  text-align: right;
  margin: 0 $margin-md;
}
