body {
  font-family: $font-family;
}

h1 {
  font-size: $font-size-lg;
}

p {
  padding: $padding-lg;
}

.separator {
  border-color: $lightblue;
  width: 50%;
}

.page-number {
  color: $grey;
  font-size: $font-size-sm;
}
