$white: #FFFFFF;
$lightgrey: #DDE1E6;
$grey: #8E9096;
$lightblue: #4BA3C3;
$red: #D62839;
$orange: #FF6C2D;
$green: green;
$black: #171A21;

$font-color: $black;
$font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;

$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 15px;

$border-radius: 5px;

$icon-width: 32px;

$width: 300px;
