.icon-bar {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: $padding-md;
  color: $font-color;
}

.icon {
  width: $icon-width;
  border-radius: 100%;
  margin: 0 $margin-md;
}
