.sign-up-form {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: $padding-lg;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  color: $darkgrey;
}

.form-title {
  font-size: $font-size-lg;
  text-align: center;
  width: 100%;
  margin-bottom: $margin-lg;
}

.signup-icon {
  width: 100px;
  border: 1px solid $lightgrey;
  border-radius: 50%;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  margin: $margin-lg 0;
}

.form-group-related-inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input[name="firstName"] {
  margin-right: 15px;
}
