.alphabetical-list-group {
  margin: $margin-lg;
}

.alphabetical-list-letter, .alphabetical-list-group-items {
  padding: 0;
  margin: 0;
}

.alphabetical-list-item {
  padding: $padding-md $padding-lg;
}
