.alphabetical-list-group {
  margin: $margin-lg;
}

.alphabetical-list-letter, .alphabetical-list-group-items {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: $padding-md;
    margin: $margin-md 0;
    border: 1px solid $lightgrey;
  }
}

.alphabetical-list-letter {
  color: $font-color-muted;
}

.alphabetical-list-item {
  padding: $padding-md $padding-lg;
}
