.password-strength-container {
  display: inline-flex;
}

.password-input {
  width: 100%;
}

.password-feedback {
  font-size: $font-size-sm;
  color: $font-color-muted;
  padding: $padding-sm;
  margin: $margin-sm;
}
