.password-strength-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
}

.password-input {
  width: 100%;
  box-sizing: border-box;
}

.password-feedback {
  font-size: $font-size-sm;
  color: $font-color-muted;
  padding: $padding-sm;
  margin: $margin-sm;
}

// show/hide password
.controls.show-hide-wpd span.icon-eye.show-pwd {
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 28px;
  padding-top: 14px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.controls.show-hide-wpd {
    position: relative;
}
.controls.show-hide-wpd input {
  padding-right: 32px !important;
  width:100%;
}
span.icon-eye.show-pwd.active:before, span.icon-eye.show-pwd:hover {
  color: #2184f6;
}
