.password-strength-container {
  display: flex;
  flex-flow: column nowrap;
}

.password-input {
  width: 100%;
  box-sizing: border-box;
}

.password-feedback {
  font-size: $font-size-sm;
  color: $font-color-muted;
  padding: $padding-sm;
  margin: $margin-sm;
}
